<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmers b2b site</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static  'style.css' %}">
  </head>
  <body style="padding-top: 0px;">
    
    <header class="header">
      <nav class="nav-bar clearfix">
        <div class="logo">
          <a href="#">STUBBLES</a>
        </div>
        <ul class="nav-items">
          <li>
            <i class="fa fa-search search"></i>
          </li>
          <li>
            <a href="">Home</a>
          </li>
          
          <li>
            <a class="nav-link" href="stuble">STUBBLES</a>
          </li>
          
          <li>
            <a class="nav-link" href="about">ABOUT</a>
          </li>
          
          <li>
            <a class="nav-link" href="contact">contacts</a>
          </li>
          
            
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="login" >Login </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="signup" > Sign Up</a>
            <!-- <li class="nav-item">
               <a class="nav-link" href="admin.html" >Admin</a> -->

            </li>
            
        </ul>
           
            
         
          
          </span>
        </ul>
      </nav>
      <div class="nav-content" id='bg' style="background-image:url('../static/image/Happy-Farmer-game-China-Farm\ \(1\).jpg'); background-size:cover; 
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment:scroll;
      height: 600px;
      width:100%;
      background-size: 3000px 600px;
      ">
        <div class="content" >
          <h6>Trade Stubbles, earn and save planet !</h6>
          <h2>
                The ONE PLACE FOR STUBBLES SOLUTIONS
          </h2>
          <p class="header_content">
            FOR FARMERS:YOUR STUBBLES OUR SOLUTION...SELL YOUR STUBBLES AT BEST PRICE.
            FOR BUYERS:STUBBLES AT YOUR END...GUARENTEED ON TIME AND RESONABLE AMOUNT.
          </p>
          <br />
          <span class="price">1500-1700/MT of Stubbles</span>
          <div class="botton Section_link--js">
          <a href="/admin" class="Section_link ">SELL STUBBLES <span class="horizontalLine"></span> <span class="downArrow">&downarrow;</span> </a>

          </div>
        </div>
      </div>
    </header>
    <section class="section-1" id="section-1">
      <div class="collection__container">
        <div class="col-sm-3 collection_box collection_box-1" style="background-image:url('../static/image/Biomass\ Resources.png'); border-radius: 20px;padding-left: 10px;padding-right: 2px;">
          <div class="img__container">
            <img class="collection_02" src="" alt="" />
          </div>
          <div class="collection__content">
            <div class="collection__data">
              <span>Contribute to produce clean energy</span>
              <br>
              <h2>BIOMASS PLANT PROCURER</h2>
              <a href="#shop">BUY NOW</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 collection_box collection_box-2" style="background-image:url('../static/image/hqdefault.jpg'); border-radius: 20px;padding-left: 30px;padding-right: 2px;">
          <div class="img__container">
            <img class="collection_01" src="" alt="" />
          </div>
          <div class="collection__content">
            <div class="collection__data">
              <span>Soil for Sustainibility</span>
              <h2>Compost Making Company</h2>
              <br>
              <a href="#">BUY NOW</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 collection_box collection_box-1" style="background-image:url('../static/image/Brick\ kiln.jpg'); border-radius: 20px;padding-left: 10px;padding-right: 2px;">
            <div class="img__container">
              <img class="collection_02" src="img/collection_02.png" alt="" />
            </div>
            <div class="collection__content">
              <div class="collection__data">
                <span>Make the  difference</span>
                <h2>Brick kiln</h2>
                <h2>Industry</h2>
                <br>
                
                <a href="#shop">BUY NOW</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 collection_box collection_box-1" style="padding-top: 10px;padding-right:0%;background-image:url('../static/image/packmanpackaging.jpg'); border-radius: 20px;padding-left: 10px;padding-right: 2px;">
            <div class="collection__content">
              <div class="collection__data">
                <br>
                <span>Stubbles Presets</span>
                <h2>Packaging</h2>
                <h2>Industry</h2>
                <br>
                <a href="#shop">BUY NOW</a>
              </div>
            </div>
          </div>
      </div>

      <div class="row"  id="collection__box-3">
        <div class="col-lg-4">
          <div class="img-container">
            <div class="img">
              <img src="img/watch.jpg" alt="" />
              <div class="img-content">
                <h2>MONETARY Help!!! FOR FARMERS and YOUR PLANET</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="img-container">
            <div class="img">
              <img src="img/laptop.jpg" alt="" />
              <div class="img-content">
                <h2>EQUIPMENT HELP!!! </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="img-container last">
            <div class="img">
              <img src="img/headphone.jpg" alt="" />
              <div class="img-content">
                <h2>ON FARMERS DEMAND</h2>
                <a href="#" class="is-large">
                  <span class="button">EXTEND YOUR HELP HERE!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2" id="section-2">
      <div class="row">
        <div class="heading">
          <h1 class="section-title">
            <b></b>
            <span class="main-title">APPRECIATE YOUR FARMERS</span>
          </h1>
        </div>
      </div>
      <div class="row feature_product">
        <!-- Added from js  -->
      </div>
    </section>
    <section class="section-3" id="section-3">
      <div class="slider">
        <div class="slide slide--1">
          <div class="review">
            <h5 class="review-header">Best financial decision ever!</h5>
            <blockquote class="review-text">
              Thank you for being a farmer. 
              I enjoy eating the food grown by you.
               It tastes so fresh and better than anything at the grocery store.
                Thank you for the service you provide to our community.
                Farmers are the backbone of our society. 
              They are the ones who provide us all the food that we eat. 
              As a result, the entire population of the country depends upon farmers.
               Be it the smallest or the largest country.
            </blockquote>
            <address class="review-client">
              <img src="img/customer-1.jpg" alt="" class="client-photo" />
              <h6 class="client-name">Aarav Lynn</h6>
              <p class="client-location">San Francisco, USA</p>
            </address>
          </div>
        </div>

        <div class="slide slide--2">
          <div class="review">
            <h5 class="review-header">Best financial decision ever!</h5>
            <blockquote class="review-text">
              Thank you for being a farmer. I enjoy eating the food grown by you. It tastes so fresh and better than anything at the grocery store. Thank you for the service you provide to our community.
              Farmers are the backbone of our society. 
              They are the ones who provide us all the food that we eat. 
              As a result, the entire population of the country depends upon farmers.
               Be it the smallest or the largest country.
            </blockquote>
            <address class="review-client">
              <img src="img/customer-2.jpg" alt="" class="client-photo" />
              <h6 class="client-name">Aarav Lynn</h6>
              <p class="client-location">San Francisco, USA</p>
            </address>
          </div>
        </div>
        <div class="slide slide--3">
          <div class="review">
            <h5 class="review-header">Best financial decision ever!</h5>
            <blockquote class="review-text">
              Thank you for being a farmer. I enjoy eating the food grown by you. It tastes so fresh and better than anything at the grocery store. Thank you for the service you provide to our community.
              Farmers are the backbone of our society. 
              They are the ones who provide us all the food that we eat. 
              As a result, the entire population of the country depends upon farmers.
               Be it the smallest or the largest country.
            </blockquote>
            <address class="review-client">
              <img src="img/customer-3.jpg" alt="" class="client-photo" />
              <h6 class="client-name">Aarav Lynn</h6>
              <p class="client-location">San Francisco, USA</p>
            </address>
          </div>
        </div>
        <button class="slider_btn slider_btn--left">
          <i class="fa fa-angle-left"></i>
        </button>
        <button class="slider_btn slider_btn--right">
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </section>
    <section class="section-4" id="section-4">
      <ul class="data-filter">
        <li class="list active" data-filter="all">All</li>
        <li class="list" data-filter="Trending">Trending </li>
        <li class="list" data-filter="Special">Special Allowences</li>
        <li class="list" data-filter="Featured">Featured Deals</li>
      </ul>
      <div class="product filter_product"></div>
    </section>
    <section class="section-5" id="section-5">
      <div class="news">
        <div class="row">
          <div class="col-md-3">
            <div class="news_info news_header">
              <h3>How We got started</h3>
              <p>
                Stubble burning has been reckoned among the major contributors of air pollution especially in South Asia.
                Farmers are charged hefty fines for burning the stubbles under section 188.
                But farmers having no other option to use the stubbles finds solution in burning it

              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="news_info_1 news_header">
              <h3>FARMER REVIEWS</h3>
              <ul>
                <li class="clearfix">
                  <img src="../static/image/concept-of-awesome-phrase-word-vector-23983466.jpg" alt="" />
                  <p>Nice ! love it</p>
                </li>

                <li class="clearfix">
                  <img src="../static/image/pexels-photo-1052150.jpg" alt="" />
                  <p>Nice ! love it</p>
                </li>
                <li class="clearfix">
                  <img src="../static/image/download (1).jpeg" alt="" />
                  <p>Nice ! love it</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="news_info_2 news_header">
              <h3>Buyers</h3>
              <ul>
                <li class="clearfix">
                  <a href="#"><img src="../static/image/Biomass Resources.png" alt="" /></a>
                  <span>BIOMASS PLANT</span>
                  <span>Rs 1500-1700 per MT</span>
                </li>
                <li class="clearfix">
                  <a href="#"><img src="../static/image/compost-business.jpg" alt="" /></a>
                  <span>COMPOST MAKING</span>
                  <span>Rs 900 per ton</span>
                </li>
                <li class="clearfix">
                  <a href="#"><img src="../static/image/Brick kiln.jpg" alt="" /></a>
                  <span>BRICK KILN INDUSTRY</span>
                  <span>Rs 1600 per ton</span>
                </li>
                <li class="clearfix">
                  <a href="#"><img src="../static/image/packmanpackaging.jpg" alt="" /></a>
                  <span>PACKINGING</span>
                  <span>Rs 600-700 per ton</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="news_info_3 news_header">
              <h3>For Feedback</h3>
              <div class="contact-form">
                <form action="">
                  <label for="email">
                    <span> E-mail Address:</span>
                    <br />
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Email address..."
                      required
                    />
                  </label>
                  <label for="text">
                    <span>feedBack:</span>
                    <br />
                    <textarea
                      type="text"
                      name="text"
                      id="text"
                      cols="23"
                      rows="4"
                      placeholder="your feedback.."
                    ></textarea>
                  </label>
                  <button>Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-6" id="section-6">

        <div class="facility">
          <div class="facility-icon">
            <div class="icon-1">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <p>Shipping at your service</p>
          </div>
        </div>
        <div class="facility">
          <div class="facility-icon">
            <div class="icon-1">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            </div>
            <p>Secured transactions</p>
          </div>
        </div>
        <div class="facility">
          <div class="facility-icon">
            <div class="icon-1">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <p>Many payment gateway</p>
          </div>
        </div>
        <div class="col-lg-4 facility">
          <div class="facility-icon">
            <div class="icon-1">
              <i class="fa fa-headphones" aria-hidden="true"></i>
            </div>
            <p>24/7 AI assistant online support</p>
          </div>
        </div>
    
    </section>


    
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer-top__box">
          <h3>EXTRAS</h3>
          <a href="#">Buyers info </a>
          <a href="#">ASSISTANCE</a>
          <a href="#">FARMERS INFO</a>
          <a href="#">GOVERNMENT FACILITIES</a>
          <a href="#">Site MAP</a>
        </div>
        <div class="footer-top__box" style="padding-left: 40px;">
            <h3>FARMERS ACCOUNT</h3>
            <a href="#">My Account</a>
            <a href="#">TRANSACTION History</a>
            <a href="#">SOLD List</a>
            <a href="#">Reviews</a>
            
          </div>
        <div class="footer-top__box" style="padding-left: 40px;">
          <h3>BUYERS ACCOUNT</h3>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">Add Reviews</a>
          <a href="#">Help sent</a>
        </div>
        <div class="footer-top__box" style="padding-left: 40px;">
          <h3>CONTACT US</h3>
          <ul>
            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Berhampur, Odisha</span></li>
            <li> <i class="fa fa-envelope-open-o" aria-hidden="true"></i> <span> company@gmail.com</span></li>
            <li> <i class="fa fa-mobile" aria-hidden="true"></i> <span>98XXXXXXXX</span></li>
            <li> <i class="fa fa-location-arrow" aria-hidden="true"></i> <span>Berhampur</span></li>
          </ul>
          
        </div>
      </div>

    </div>
    </div>
  </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
    <script src="jquery.js"></script>
  </body>
</html>