<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />


    <link rel="stylesheet" href="{% static 'paymentdone.css' %}">
    
    
</head>
<body>
    <div class="container-fluid">
        <center>
        <h1 style="background-color: green;">Your payment has been SUCCESSFULLY DONE.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="color:aliceblue">THANK YOU for HELPING FARMERS. </h2>
        <br>
        <h2 style="color:aliceblue">Glad to have you here</h2>
        <br>
        <a href="home" class="btn btn-primary">HOME</a>
        <br>
        <br>

        <a href="logout" class="btn btn-primary">LOGOUT</a>
        </center>
    </div>
</body>
</html