<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel=”nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'buyerView.css' %}">
</head>
<body>
  <div class="container-fluid">
    <center>
        <h3>------Stubbles-------</h3>
    </center>
    <div class="container">
        <center>
          <table class="table table-success table-striped" >
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Aadhar Number</th>
                <th scope="col">Farmer's Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Type of Stubble</th>
                <th scope="col">Amount</th>
                <th scope="col">Location</th>
                              </tr>
            </thead>
            <tbody>
                
                {% for stuble in stuble_list %}
              <tr>
                
                <td>{{stuble.id}}</td>
                <td>{{stuble.aadhar_number}}</td>
                <td>{{stuble.name}}</td>
                <td>{{stuble.weight}}</td>
                <td>{{stuble.type}}</td>
                <td>{{stuble.amount}}</td>
                <td>{{stuble.location}}</td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <input class="btn btn-sm btn-primary" type=button value="Back" onClick="javascript:history.go(-1);">
          </center>
          </div>
          </div>
</body>
</html>