.container-fluid{
    background-image: url("image/dcsd1ir-56282d1d-0697-4e21-804f-52a87ac3decf.jpg");
     background-size:cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width:100%;
    position:fixed;
    background-size: 1800px 900px;
    color:black;
}
p{
    color:black;
}